# pip install -e ./Fcatbot
# 核心
aiofile~=3.9.0
aiohttp~=3.11.12
websockets~=10.4
packaging~=24.2
tqdm~=4.67.1
aiofiles~=24.1.0 # UniversalLoaderError支持异步文件读写

# 可选
ujson~=5.10.0 # 加速json操作
pyyaml~=6.0.2 # UniversalLoaderError 读取yaml格式文件
pytoml~=0.1.21 # UniversalLoaderError 读取toml格式文件